
<!-- COMPANY LIST -->
<section class="section" id="companylist">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="title-box">
          <p class="title-alt">Companies</p>
          <h3 class="fadeIn animated wow" data-wow-delay=".1s">Company List</h3>
          <div class="border"></div>
        </div>
      </div>
    </div> <!-- end row -->


    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/316x200" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/316x200" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/316x200" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

    <div class="row">

    </div>
      <div class="col-lg-12 text-right">
        <br>
        Total Found: <span>{{this.companyList.totalPages}}</span>
      </div>
    </div>



</section>

<!-- END COMPANY LIST -->
