<!-- HERO HEADER -->
<section class="home">
  <!-- <div class="bg-overlay"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="home-wrapper home-wrapper-xsm text-center">
          <h2 class="animated fadeInDown wow" data-wow-delay=".1s">
            Editing <span class="text-colored">Note</span>
          </h2>
        </div><!-- home wrapper -->

      </div> <!-- end col -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- END HERO HEADER -->


<!-- NOTE DETAIL -->

<section class="section note-detail-page">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <!-- NGX EDITOR -->

        <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="editorContent"></app-ngx-editor>
        <!-- END NGX EDITOR -->
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-4 text-left">
        <button class="btn btn-primary btn-shadow btn-rounded w-lg">Cancel</button>
      </div>
      <div class="col-lg-8 text-right">
        <button class="btn btn-primary btn-shadow btn-rounded w-lg">Apply</button> &nbsp;
        <button class="btn btn-primary btn-shadow btn-rounded w-lg">Save</button>
      </div>
    </div>

  </div>
</section>

<!--END NOTE DETAIL -->
