<!-- START NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark app-header-nav-wrap">
  <div class="container">
    <!-- LOGO -->
    <a class="navbar-brand logo" routerLink="/">
      <i class="zmdi zmdi-dialpad"></i> <span> noteler</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="zmdi zmdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item">
          <a href="javascript:void(0)" (click)="logout()"
             class="btn btn-inverse btn-bordered navbar-btn nav-link">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- END NAVBAR -->
